# Análisis exploratorio de datos (EDA)

## 0 Configuraciones Globales e Importaciones

En esta sección, importamos todas las bibliotecas y/o módulos necesarios para nuestro EDA y establecemos configuraciones globales de ser requerido.

### Importación de Bibliotecas y/o Módulos

In [1]:
import sys
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns


print(f"system version: {sys.version}")
print(f"pandas version: {pd.__version__}")
print(f"matplotlib version: {matplotlib.__version__}")
print(f"seaborn version: {sns.__version__}")

system version: 3.11.5 (tags/v3.11.5:cce6ba9, Aug 24 2023, 14:38:34) [MSC v.1936 64 bit (AMD64)]
pandas version: 2.1.0
matplotlib version: 3.7.2
seaborn version: 0.12.2

## 1 Extracción

En esta sección, extraemos los datos del dataset `homicidios_processed.csv` preparados para este fin.

### 1.1 Extracción de los datos

In [2]:
# Ruta al dataset
data_path = '../data/processed/homicidios_processed.csv'

# Cargamos en un DataFrame
df = pd.read_csv(data_path)
df

,id,n_victimas,tipo_de_calle,comuna,longitud,latitud,participantes,victima,acusado,rol,sexo,fecha_hora,rango_edad,es_cruce
0,2016-0001,1,AVENIDA,8,-58.475340,-34.687570,MOTO-AUTO,MOTO,AUTO,CONDUCTOR,MASCULINO,2016-01-01 04:00:00,18-29,True
1,2016-0002,1,GRAL PAZ,9,-58.508775,-34.669777,AUTO-PASAJEROS,AUTO,PASAJEROS,CONDUCTOR,MASCULINO,2016-01-02 01:15:00,65+,True
2,2016-0003,1,AVENIDA,1,-58.390403,-34.631894,MOTO-AUTO,MOTO,AUTO,CONDUCTOR,MASCULINO,2016-01-03 07:00:00,30-44,False
3,2016-0004,1,AVENIDA,8,-58.465039,-34.680930,MOTO-SD,MOTO,SD,CONDUCTOR,MASCULINO,2016-01-10 00:00:00,18-29,True
4,2016-0005,1,AVENIDA,1,-58.387183,-34.622466,MOTO-PASAJEROS,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,2016-01-21 05:20:00,18-29,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,2021-0093,1,AVENIDA,7,-58.433538,-34.645616,MOTO-AUTO,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,2021-12-13 17:10:00,18-29,True
713,2021-0094,1,AUTOPISTA,9,-58.467398,-34.651178,MOTO-AUTO,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,2021-12-20 01:10:00,30-44,True
714,2021-0095,1,AVENIDA,11,-58.472934,-34.619847,MOTO-CARGAS,MOTO,CARGAS,CONDUCTOR,MASCULINO,2021-12-30 00:43:00,18-29,True
715,2021-0096,1,AVENIDA,9,-58.470668,-34.650217,AUTO-CARGAS,AUTO,CARGAS,CONDUCTOR,MASCULINO,2021-12-15 10:30:00,45-64,False
716,2021-0097,1,CALLE,1,-58.379762,-34.586796,BICICLETA-AUTO,BICICLETA,AUTO,CICLISTA,MASCULINO,2021-11-18 06:10:00,45-64,False